n8n_freelance_feed_v2.json
{
  "name": "フリーランス案件通知 v2（重複除去・拡張キーワード）",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9,12,15,18,21 * * *" }]
        }
      },
      "id": "schedule-main",
      "name": "1日5回チェック(9-21時)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://crowdworks.jp/public/jobs/search.atom?order=new&keyword=LP%E5%88%B6%E4%BD%9C"
      },
      "id": "rss-lp",
      "name": "CW: LP制作",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, -200]
    },
    {
      "parameters": {
        "url": "https://crowdworks.jp/public/jobs/search.atom?order=new&keyword=Figma"
      },
      "id": "rss-figma",
      "name": "CW: Figma",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, -80]
    },
    {
      "parameters": {
        "url": "https://crowdworks.jp/public/jobs/search.atom?order=new&keyword=HTML%2FCSS"
      },
      "id": "rss-html",
      "name": "CW: HTML/CSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, 40]
    },
    {
      "parameters": {
        "url": "https://crowdworks.jp/public/jobs/search.atom?order=new&keyword=%E3%83%90%E3%83%8A%E3%83%BC%E5%88%B6%E4%BD%9C"
      },
      "id": "rss-banner",
      "name": "CW: バナー制作",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, 160]
    },
    {
      "parameters": {
        "url": "https://crowdworks.jp/public/jobs/search.atom?order=new&keyword=Web%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3"
      },
      "id": "rss-webdesign",
      "name": "CW: Webデザイン",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "recent-check",
              "leftValue": "={{ new Date($json.pubDate).getTime() }}",
              "rightValue": "={{ Date.now() - 2 * 60 * 60 * 1000 }}",
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-recent",
      "name": "直近2時間以内のみ",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 40]
    },
    {
      "parameters": {
        "fieldToSplitOut": "link",
        "options": {}
      },
      "id": "dedup",
      "name": "重複URLを除外",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [660, 40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"{{ $json.title }}\",\n    \"url\": \"{{ $json.link }}\",\n    \"description\": \"{{ ($json.contentSnippet || $json.summary || '').slice(0, 200) }}\",\n    \"color\": 7506394,\n    \"footer\": { \"text\": \"CrowdWorks | {{ $json.pubDate }}\" }\n  }]\n}"
      },
      "id": "discord-notify",
      "name": "Discord 通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 40]
    }
  ],
  "connections": {
    "1日5回チェック(9-21時)": {
      "main": [[
        { "node": "CW: LP制作",    "type": "main", "index": 0 },
        { "node": "CW: Figma",     "type": "main", "index": 0 },
        { "node": "CW: HTML/CSS",  "type": "main", "index": 0 },
        { "node": "CW: バナー制作", "type": "main", "index": 0 },
        { "node": "CW: Webデザイン","type": "main", "index": 0 }
      ]]
    },
    "CW: LP制作":    { "main": [[{ "node": "直近2時間以内のみ", "type": "main", "index": 0 }]] },
    "CW: Figma":     { "main": [[{ "node": "直近2時間以内のみ", "type": "main", "index": 0 }]] },
    "CW: HTML/CSS":  { "main": [[{ "node": "直近2時間以内のみ", "type": "main", "index": 0 }]] },
    "CW: バナー制作": { "main": [[{ "node": "直近2時間以内のみ", "type": "main", "index": 0 }]] },
    "CW: Webデザイン":{ "main": [[{ "node": "直近2時間以内のみ", "type": "main", "index": 0 }]] },
    "直近2時間以内のみ": { "main": [[{ "node": "重複URLを除外", "type": "main", "index": 0 }]] },
    "重複URLを除外":   { "main": [[{ "node": "Discord 通知",   "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {}
}
